# Ignore node_modules, as we'll install dependencies inside the container.
#node_modules

# Ignore build artifacts and bundled files.
build
dist

# Ignore version control system files and directories.
.git
.gitignore

# Ignore editor/IDE-specific files.
.idea/
.vscode/

# Ignore other unnecessary files or directories.
.DS_Store
Thumbs.db
