* {
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
}
.App {
  background:linear-gradient(to top, #55EFCB 0%, #5BCAFF 100%);
  min-height: 100vh;//убрать
  display: flex;
  flex-direction: column;
  align-items: center;
 // justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.select-card{
  position: absolute;
  top: 10px;
  margin-top: 10px;
}
.links {
  position: absolute;
  top: 120px;
  display: flex;
  justify-content: space-around;
}
.frontReversed {
  transform: rotateX(180deg);

}

.backReversed {
  transform: rotateX(360deg);

}


.description {
  
display: flex;
justify-content: space-evenly;
position: relative;
top: 260px;
font-size:medium;


}
.card-next{
  position:relative;
   left: 450px;
    transition:  none;
    transform: rotateZ(0deg);
    visibility: hidden;
  
}
.card-skip-next{
   position:relative; 
   left: 450px;
    transition: 0.5s;
    visibility: visible;
    transform: rotateZ(0deg) translateX(-450px);
    
  
}
.card-prev{
transition: 0;
visibility: visible;
transform: none;

}
.card-skip-prev{
 transition: 0.5s;
visibility:hidden;
 transform: rotateZ(25deg) translateX(-500px);
 opacity: 0;
}
.up-cards{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards{
  width: 400px;
  height: 250px;
  position: relative;
}
.card {
  transition: 1s;
  width: 400px;
  height: 250px;
  perspective: 1000px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;


  .front,
  .back {
    user-select: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .7s;
    backface-visibility: hidden;
    color: black;
    background-color: white;
  }
  .backNormal {
    transform: rotateX(180deg)
  }
}
.confirm-del-word{
 
 
}
.all-cards{
  display: grid;
  // position: absolute;
  margin: 10px;
  margin-top: 250px;

  // top: 250px;
  grid-template-columns:repeat(3,1fr);
  grid-gap: 1em;
  grid-column-start: 1;
  .single-card{
    transition: 1s;
    width: 400px;
    height: 250px;
    background-color: #fff;
    color: black;
   
    border-radius: 10px;
    perspective: 1000px;
    .card-text{

      display: flex;
      grid-gap:10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .acts-card{
      position: absolute;
      bottom: 5px;
      right: 5px;
      button{
        margin: 5px;
      }
    }
    
  }
}
.text-field{
  input{
    padding: 12px;
  }
  //padding: 10px;
}




.Link {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #fe6637;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #fe6637;
  transition: .2s ease-in-out;
}

.Link:before {
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}

.Link:hover {
  background: #fe6637;
  color: #fff;
}

.Link:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
}



.activeLink {
  background: #fe6637;
  color: #fff;
}


body {

  font-family: 'Roboto', sans-serif;
}

.form-row {
  position: relative;
  margin-bottom: 40px;
}
.Ilabel {
  position: absolute;
  left: 13px;
  color: #9d959d;
  font-size: 20px;
  font-weight: 300;
  transform: translateY(-35px);
  transition: all 0.2s ease;
}
.focused{
  transform: translateY(-60px);
    margin-left: -14px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    border-color: #F77A52;
    color: #F77A52;
}
.form-row input {
  display: block;
  width: 100%;
  padding: 0 10px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  background: none;
  border-width: 0;
  border-bottom: 2px solid #4a90e2;
  transition: all 0.2s ease;
}

.form-row input:focus + label{
  transform: translateY(-60px);
    margin-left: -14px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    border-color: #F77A52;
    color: #F77A52;
}

.form-row input:focus {
  outline: 0;
  border-color: #F77A52;
}

.wordAdder {

  width: 400px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  font-size: 40px;
  background-color: white;
  border-radius: 10px;
  padding: 80px 30px 30px;

  button {
    width: 290px;
    padding: 10px;
    margin-left: 20px;
    background: #4a90e2;
    border-width: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  .form-row input{
    font-size: 20px;
  }
}

.select-box{
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  border: 1px solid rgb(227, 223, 223);
  padding: 8px;
  .add-select{
    margin: 8px;
  }

 
}
.select{
  display: flex;
  //justify-content: space-evenly;
 // align-items: center;
  width: 100%; 

}
.add-select-btn{
  margin: 5px;
}